/* General Container styles */
.container1,
.container2,
.container3,
.container4 {
  padding: 10px;
}

.text1,
.text2,
.text3,
.text4 {
  padding: 20px;
}

.box0 {
  font-size: 30px;
  font-weight: 400;
  padding: 5px;
  text-align: center;
  align-content: center;
}

.text1 h2,
.text2 h2,
.text3 h2,
.text4 h2 {
  font-size: 30px;
  margin-bottom: 5px;
  color: black;
}

.text1 p,
.text2 p,
.text3 p,
.text4 p {
  font-size: 20px;
}

/* Image styles */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Box styles */
.box1 {
  background-color: #faffb1;
}

.box2 {
  background-color: #d4ffb2;
}

.box3 {
  background-color: #faffb1;
}

.box4 {
  background-color: #d4ffb2;
}

.box0 {
  background-color: #ffb49a;
}

.box0 .text-center {
  text-align: center;
}

.box0 h2{
  margin: 10px;
  font-size: 30px;
}